/*
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  background-color: #1C1C1C;
  color: white;
  font-size: 13pt;
  font-family: 'HelveticaNeue';
}

*:focus {
  outline: 0;
}

.logoBar {
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'FranchiseRegular','HelveticaNeue-Bold','League Gothic','Impact',sans-serif;
  font-size: 4em;
  margin-bottom: 2%;
  margin-top: -.5%;
  color: #B19CD9;
  text-shadow: #573B8C -4px 4px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.dropdown {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: space-between;
  padding: 1.5% 22%;
}

.dropdown-right {
  white-space: nowrap;
  padding-left: 0;
} 

.dropdown-left {
  padding-right: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 60%;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block
}

.dropdown:hover {
  color: #B19CD9
}

.stat {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 10pt;
  margin-left: 10pt;
}

.bar {
  width: 875px;
  white-space: nowrap;
  margin: 0 auto;
}

.start {
  margin-right: -11px;
  border-radius: 5px;
  border: none;
  width: 75px;
  height: 30px;
}

select {
  border-color: #1C1C1C;
  width: 93px;
}

.header {
  display: inline-block;
  color: #B19CD9;
}

.grid {
  padding: 10px 25%;
}

.spot {
  border: 1px solid #424242;
  float: left;
  width: 12%;
  padding-bottom: 12%;
  margin: 0%;
}

.yellowSpot { 
  background-color: yellow;
  border: 1px solid #424242;
  float: left;
  width: 12%;
  height: 0;
  padding-bottom: 12%;
  margin: 0px;
}

.blueSpot { 
  background-color: blue;
  border: 1px solid #424242;
  float: left;
  width: 12%;
  height: 0;
  padding-bottom: 12%;
  margin: 0%;
}

.redSpot {
  background-color: red;
  border: 1px solid #424242;
  float: left;
  width: 12%;
  height: 0;
  padding-bottom: 12%;
  margin: 0%;
}

.field {
  color: #B19CD9; 
  text-align: left;
}

.backLink {text-align: center}








