@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  background-color: #1C1C1C;
  color: white;
  font-size: 13pt;
  // font-size: 1.01em;
  font-family: 'HelveticaNeue';
}

.logoBar {
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'FranchiseRegular','HelveticaNeue-Bold','League Gothic','Impact',sans-serif;
  font-size: 100px;
  margin-bottom: 35px;
  margin-left: 10px;
  color: #B19CD9;
  text-shadow: #573B8C -4px 4px 0;
  margin-top: 5px;
  text-align: center;
}

.introBox {text-align: center}

.description {
  margin: 0px auto;
  width: 47.5%;
  padding: 0px;
  margin-bottom: 40px;
}

.hi-user {
  color: white;
  margin: 0;
  padding: 0px;
}

.top-ul {
  margin: 0;
  padding: 0px;
}

.sign-up-in-out {
  margin: 0px auto;
  width: 30%;
  padding: 0px;
  margin-bottom: 40px;
}

.sign-up-in-out a {color: white}

.statusBar {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-right: 45px;
  margin-left: 45px;
}

.start {
  height: 26px;
  margin-right: -11px;
  border-radius: 5px;
  border: none;
  width: 75px;
  height: 30px;
}

input:focus {outline:0}

select {
  border-color: #1C1C1C;
  width: 93px;
}

.header {
  display: inline-block;
  color: #B19CD9;
}

.spot {
  border: 1px solid #424242;
  float: left;
  width: 12%;
  height: 0;
  padding-bottom: 12%;
  margin: 0%;
}

.yellowSpot { 
  background-color: yellow;
  border: 1px solid #424242;
  float: left;
  width: 12%;
  height: 0;
  padding-bottom: 12%;
  margin: 0px;
}

.blueSpot { 
  background-color: blue;
  border: 1px solid #424242;
  float: left;
  width: 12%;
  height: 0;
  padding-bottom: 12%;
  margin: 0%;
}

.redSpot {
  background-color: red;
  border: 1px solid #424242;
  float: left;
  width: 12%;
  height: 0;
  padding-bottom: 12%;
  margin: 0%;
}

.field {
  color: #B19CD9; 
  text-align: left;
}

.backLink {text-align: center}








