* {
  background-color: #1C1C1C;
  color: white;
  font-family: 'Play', sans-serif;
}

.logoBar {
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'FranchiseRegular','HelveticaNeue-Bold','League Gothic','Impact',sans-serif;
  font-size: 100px;
  margin-bottom: 0px;
  margin-left: 10px;
  color: #B19CD9;
  text-shadow: #573B8C -4px 4px 0;
  margin-top: 5px;
  text-align: center;
}

.introBox {
  text-align: center;
}

.description {
  margin: 20px;
}

.hi-user {
  margin: 0;
  padding: 0px;
}

.top-ul {
  margin: 0;
  padding: 0px;
}

.sign-up-in-out {
  margin: 0px auto;
  width: 30%;
  padding: 0px;
}

.statusBar {
  margin-top: 20px;
  margin-bottom: 1px;
}

.spot {
  border: 1px solid #424242;
  float: left;
  width: 12%;
  height: 0;
  padding-bottom: 12%;
  margin: 0%;
}

.yellowSpot { 
  background-color: yellow;
  border: 1px solid #424242;
  float: left;
  width: 12%;
  height: 0;
  padding-bottom: 12%;
  margin: 0px;
}

.blueSpot { 
  background-color: blue;
  border: 1px solid #424242;
  float: left;
  width: 12%;
  height: 0;
  padding-bottom: 12%;
  margin: 0%;
}

.redSpot {
  background-color: red;
  border: 1px solid #424242;
  float: left;
  width: 12%;
  height: 0;
  padding-bottom: 12%;
  margin: 0%;
}

.field {
  color: #B19CD9; 
  text-align: left;
}

.backLink {
  text-align: center;
}








